name: DEV - Build and Unittest

on:
  push:
    branches-ignore: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install -r requirements.txt        

    - name: Install project
      run: |
        pip install .

    - name: Lint with flake8
      run: |
        flake8 flaskr --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 flaskr --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        
  test:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      id: setup-python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Display Python version
      run: |
        which python
        python --version
        python -c "import sys; print(sys.version)"

    - name: Install dependencies
      run: |
        ${{ steps.setup-python.outputs.python-path }} -m pip install --upgrade pip
        ${{ steps.setup-python.outputs.python-path }} -m pip install pytest
        ${{ steps.setup-python.outputs.python-path }} -m pip install -r requirements.txt        

    - name: Install project
      run: |
        ${{ steps.setup-python.outputs.python-path }} -m pip install .

    - name: Test with pytest
      run: |
        ${{ steps.setup-python.outputs.python-path }} -m pytest