name: PROD - Deploy Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install -r requirements.txt        

    - name: Install project
      run: |
        pip install .

    - name: Lint with flake8
      run: |
        flake8 flaskr --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 flaskr --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        
  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build . -t krishnakarthik4129/flask-example-cicd:$(git describe --tags --abbrev=0)

      - name: Push Docker image
        run: docker push krishnakarthik4129/flask-example-cicd:$(git describe --tags --abbrev=0)
